*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  
    
    
}
body{
    
    height: 100vh;
    width: 100vw;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.6);
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    

}
.logo{
    margin-left: 5%;
    margin-top: 3%;
}
.button1{
    margin-right:5% ;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav ul{
    display: flex;
    align-items: center;
    gap: 80px;
    font-weight: 800;
    color: yellow;
}

li{
    list-style: none;
}
button{
    background-color:rgb(219, 71, 91);
    padding: 4px 10px;
    border: none;
    color: beige;
    
    font: 900;
    width: fit-content;

}
.heading{
    text-align: center;
    color: rgb(250, 215, 15);
    font-size: 30px;
    margin: 2% 0;
    margin-left: 30%;
    margin-right: 30%;
}
.button2{
    
    text-align: center;
}
.footer{
  text-align: right;
  margin-right:5% ;margin-bottom: 3%;

}


